{% extends 'common.html' %}

{% block title %}
Главная страница сайта
{% endblock %}

{% block content %}
<h3>Страница просмотра контента</h3>
<div id="main">
    <h1 align="center">BLACK</h1>
    <img src="https://www.shutterstock.com/image-photo/cinema-blank-wide-screen-people-600nw-2314929885.jpg">
    <p align="center">Приложение для поиска, просмотра и сохранения фильмов</p>

</div>
<div class="button-container">
    <button id="buy1">ПОИСК</button>
    <button id="buy2">ИСТОРИЯ</button>
    <button id="buy3">СМЕНИТЬ ТЕМУ</button>
</div>

{% endblock %}